<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ziyad Mohammed</h1>
    <form action="/add" method="post"> 
        <input type="text" name="username" placeholder="enter your name">
        <input type="email" name="email" placeholder="enter your email" >
        <input type="password" name="password" placeholder="enter your password" >
        <select name="country" id="">
            <option value="Egypt" name="Egypt">Egypt</option>
            <option value="Saudi" name="Saudi">Saudi</option>
            <option value="Germany" name="Germany">Germany</option>
        </select>
        <select name="gender">
            <option value="male" name="male">male</option>
            <option value="female" name="female">female</option>
        </select><br>

        <input type="file" name="photo" id="">
        <button >send</button>
    </form>
</body>
</html>